<!DOCTYPE html>
<html lang="en">
<head>
    <title>MusMix</title>
    <link rel="stylesheet" href="./login.component.css">
</head>
<body>
    <div class="input-field">
        <form action="/action_page.php">
            <div class="uname-field">
                <label for="uname">Username:</label>
                <input type="text" id="uname" name="uname">
            </div>
            <div class="pwd-field">
                <label for="pwd">Password:</label>
                <input type="password" id="pwd" name="pwd">
            </div>
            <div class="submit-field">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>
</html>

<router-outlet></router-outlet>